// Highlight invalid input
.smalltalk input[pattern] {
    &:invalid, &[aria-invalid='true'] {
        &, &:enabled:focus {
            border-color: var(--text-error);
            background-color: var(--background-modifier-error);
        }
    }
}


// Style using theme vars for colors
.smalltalk {
    .page, .page header, input, button { color: var(--text-normal); text-shadow: none; }
    .page { background: var(--background-primary); }
    button[data-name="js-ok"]     { background: var(--background-modifier-error); }
    button[data-name="js-cancel"] { background: var(--background-secondary-alt);  }
    button { box-shadow: none;}
}


